@charset "utf-8";

/*公共样式*/
.shadow {
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}

.wrap {
    margin: 0 auto;
    width: 100%;
    /*max-width: 480px;*/
    overflow: hidden;
}

.content {
    margin: 0 auto;
    /*max-width: 480px;*/
}

/*topbar*/
.head {
    height: 50px;
    text-align: center;
    background-color: #2755b3;
}

.logo {
    width: 100%;
}

.ico-logo {
    height: 30px;
    display: inline-block;
    background: url("../images/logo/logo.png") no-repeat;
    background-size: auto 100%;
    padding-left: 32px;
    line-height: 30px;
    color: #ffffff;
    font-size: 14px;
}

/*footer*/
.footer {
    color: #999;
    padding: 10px 0;
    text-align: center;
}

/*焦点图*/
.focus {
    margin: 0 auto;
    max-width: 480px;
}

.focus img {
    width: 100%;
    border:solid 1px #fff;
}

.install{
    position: absolute;
top: 13px;
right: 15px;
line-height: 14px;
color: #fff;
background: #fff;
padding: 6px;
border-radius: 3px;
color: #2755b3;
}
